section{
    // height: 100vh;
    margin-top: 4rem;
    h2{
        text-align: center !important;
    }
    .parent-container{
        padding: 20px;
        width: 80%;
        margin: auto;
        // border: 1px solid black;
        display: flex;
        
        .card{
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            margin-right: 20px;
            margin-left: 20px;
           
           
            text-align: justify;
            line-height: 1.6rem;
            img{
                object-fit: cover;
                height: 100px;
                width: 100%;
            }

            .card-body{

                padding: 20px;
            

            a{
                text-decoration: none;
                color: blue;
            }

            }

            .card-foot{
                    padding: 20px;
                    // border: 1px solid black;
                    background-color: blue;
                    img{
                        height: 50px;
                        width: 150px;
                        object-fit: contain;
                       
                    }



            }

        }
    }

    .involved{
        padding-top: 4rem;
        padding-bottom: 4rem;
        // border: 1px solid black;
        width: 80%;
        margin: auto;
        text-align: center;
        h2{
            padding-bottom: 2rem;
        }

        a{
            padding: 10px 20px;
            border: 1px solid #CD087E;
            border-radius: 25px;
            color: #CD087E;
            text-decoration: none;
           
        }

        h5{
            padding-top: 2rem;
            a{
                border: none;
                padding: 0px;
            }
            
          
        
        }




    }



}



// media Query
@media screen and  (max-width : 786px){
    // section{
    //     height: auto;
    //     margin: auto;

    // }

section .parent{
    width: 100%;

    flex-direction:column;
}


section .parent .card{
    width: 100%;
}

section .parent-container{
    flex-direction: column;
    width: auto;


}


section .parent-container .card {

    margin-top: 20px !important;

}

section .parent-container .card{
    margin: auto;
}


}