.network {
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  //  height: 100vh;

  .parent {
    //  border: 1px solid white;
    width: 80%;
    margin: auto;

    .row {
      width: 70%;
      margin: auto;
      margin-bottom: 4rem;

      // border: 1px solid white;
      h2 {
        font-weight: 700;
        font-size: 2rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
      }

      p {
        line-height: 1.6;
      }
    }

    .card-parent {
      //  border: 1px solid white;
      display: flex;
      justify-content: space-around;

      .card {
        //  border:  1px solid white;

        h4 {
          font-size: 20px;
          font-weight: 700;
          margin-top: 2rem;
        }

        img {
          height: 100px;
        }

        p {
          font-size: 14px;
          text-align: center;

          line-height: 1.4;
          letter-spacing: 0.4px;
        }
      }
      padding-bottom: 2rem;
    }

    .learn {
      padding-bottom: 2rem;

      .discover {
        a {
          color: white;
        }
      }
    }
  }
}

// media Query
@media screen and (max-width: 786px) {
  .parent {
    width: 96% !important;
  }

  .network {
    height: auto;
  }
  .network .parent .card-parent {
    flex-direction: column;
  }

  section .learn h2 {
    width: auto;
  }

  .network .parent .row {
    width: auto;
  }
}
