.network{

 background-color: blue;
 color: white;
 text-align: center;
//  height: 100vh;


 .parent{
    //  border: 1px solid white;
      width: 80%;
 margin: auto;


     .row{
         width: 60%;
         margin: auto;
         padding-bottom: 1rem;

        // border: 1px solid white;
        h2{
            font-weight: 800;
            font-size: 2rem;
            padding-top: 4rem;
            padding-bottom: 2rem;
        }

     }



     .card-parent{
        //  border: 1px solid white;
         display: flex;
         justify-content: space-around;

         .card{
            //  border:  1px solid white;

             img{
                 height: 100px;
             }
         }
     }

     .learn{
         padding-bottom: 2rem;

         .discover{
             a{
                 color: white;
             }
         }
     }


 }

}


// media Query
@media screen and  (max-width : 786px){

     .parent{
         width: 96% !important;
     }

    .network{
        height: auto;
    }
.network .parent .card-parent{
    flex-direction: column;
}

section .learn h2{
    width: auto;
}

.network .parent .row{
    width: auto;
}

    
}